.home {
  padding-left: 60px;
    text-shadow: 2px 2px 5px white;
    line-height:30px;
}

h1 {
    font-size: 50px;
    color: white;
    padding-left: 50px;
    word-spacing: 20px;
}

body {
    background-color:black;
}