#product{
    background-color: #E9ECEF;
    padding: 0% 20%;
}

#product .card{
    width: 100%;
    height: 100%;
}

.card img{
    height: 100%;
}

#about .card{
    background-color: #E9ECEF;
    height: 697px;
}

#home {
    background-color: #E9ECEF;
    height: 697px;
    padding-top: 5%
}

